.mainBody {
    background-image: url("../images/mordorlandscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* the page contains 3 sections taking up respectively 40-20-40 percent of the screen*/
/* main sections */
.upperSection {
    height: 40vh;
}
.middleSection {
    height: 20vh;
}
.lowerSection {
    height: 40vh;
}

/* css targeting uppersection parts */
/* just using bootstrap grid mainly to display the header containing the round.*/
.mainHeader {
    background-image: url("../images/battlelog.jpg");
    height: 20%;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 4vh;
    font-style: italic;
    font-weight: bolder;
    display: flex;
    align-items:center;
    justify-content:center;
}

/* On small devices like phones, there need to be another row for the third enemy. Using the enemybox(which contains the selectBox, image and statbox) set to 40%, the total height would add up to 100% of the uppersection. 20% main header, 40% first enemyrow, 40% second enemy row. (I am using 35% instead of 40% to keep the images from hugging the selectBox. In the same vein the version where the enemies are on one row (activated by a mediaquery), the row is 75% (not 80) and the header still 20% */
.enemyBox {
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* the enemy box contains two divs, one for the selectbox and enemyImageHolder, the other for the enemystatbox. The first div is split in two rows: the selectbox (20%) and the imageholder (80%) */
.selectBox {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 4vmin;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    height:20%;
    background-image:url(../images/silver.jpg);
    border-radius: 20px;
}
.enemyImageHolder {
    height: 80%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
}

.enemyImage {
    max-width: 100%;
    max-height: 90%;
    margin: auto;
    text-align: center;
    position:relative; /*mandatory to be able to let the javascript shake function work*/
}

/* as explained in the index.html, the filler is used to vertically align the statboxes */
.fillerStatBox {
    height: 10%;
}

/* this class styles the two statboxes for attack value and HP respectively */
.enemyStatIndicator {
    text-shadow:
        -0.5px -0.5px 0 rgb(204, 208, 212),  
        0.5px -0.5px 0 rgb(204, 208, 212),
        -0.5px 0.5px 0 rgb(204, 208, 212),
        0.5px 0.5px 0 rgb(204, 208, 212);
    height:40%;
    background-image: url('../images/wood.jpg');
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vmin;
    font-weight: bolder;
    align-items:center;
    justify-content:center;
    text-align: center;
    padding: 0px;
    border: 0.5px solid black;
}

/* css targeting middleSection*/
.resetButton {
    background-image: url("../images/leaf.jpg");
    min-width: 20%;
    font-size: 4.5vmin;
    color: #FFFFF4;
}

.attackButton {
    background-image: url("../images/blood.jpg");
    min-width: 20%;
    font-size: 4.5vmin;
    color: #FFFFF4;
}

.musicButton {
    background-image: url("../images/darkwood.jpg");
    min-width: 20%;
    font-size: 4.5vmin;
    color: #FFFFF4;
}

/* css targeting lowerSection*/
/* The lower section on small viewports has the heroStats and heroImage on one row (60% height) and the battlelog on the next row (40% height), these values are set to 100% on wider viewports (through mediaqueries) to have them all on one row*/
.heroStatBox {
    height: 60%;
}

/* the two boxes containing the hero stats (attack/HP) are aligned in the same way as the enemy's */
.heroStatIndicator {
    text-shadow:
        -0.5px -0.5px 0 rgb(204, 208, 212),  
        0.5px -0.5px 0 rgb(204, 208, 212),
        -0.5px 0.5px 0 rgb(204, 208, 212),
        0.5px 0.5px 0 rgb(204, 208, 212);
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 5vmin;
    font-weight: bold;
    align-items: center;
    justify-content:center;
    text-align: center;
    border: 1px solid black;
    background-image: url('../images/wood.jpg');
    height:40%;
}

.heroImageBox {
    height: 60%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.heroImage {
    max-width: 100%;
    max-height: 100%;
    position:relative; /*necessary for JS shake function to work*/ 
}

.battleLog {
    background-image: url("../images/battlelog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vmin;
    font-weight: bold;
    text-align: center;
    height: 40%;
    overflow: auto;
}

/* media queries */
/* in the upperSection, the enemy box height needs to be halved (to 40%) because the third enemy will be below the other 2. This media query sets it back to one common row, see the relevant classes for more explanations */
@media (min-width: 540px) {
    .enemyBox {
        height: 75%;
    }
    .heroStatBox, .heroImageBox, .battleLog {
        height: 100%;   
    }
}

/* on wider viewscreens in portrait mode (like ipad) a slightly smaller font-size is needed. It's the point where the enemies line up in one row instead of two */
@media (min-width: 768px) {
    .enemyStatIndicator {
    font-size: 3vmin;
    }
}


