.mainBody {
    background-image: url("/assets/images/mordorportrait.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* main sections */
.upperSection {
    height: 40vh;
    /* border: 3px dotted violet; */
}
.middleSection {
    height: 20vh;
}
.lowerSection {
    height: 40vh;
}

/* css targeting uppersection parts */
.mainHeader {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    height: 20%;
    background-color: white;
    text-align: center;
}
.enemyBox {
    max-height: 40%;
}
.selectBox {
    font-family: 'Poppins', sans-serif;
    font-size: 4vmin;
    font-weight: bold;
    text-align: center;
    height:20%;
    background-color: white;
}
.enemyImageHolder {
    height: 80%;
    width: 100%;
    text-align: center;
}

.enemyImage {
    max-width: 100%;
    max-height: 100%;
}
.statIndicator {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vmin;
    font-weight: bold;
    text-align: center; 
    background-color: white;
}
/* css targeting middleSection*/
.attackButton {
}

/* css targeting lowerSection*/

.statBox {
    height: 60%;
}
.heroStatIndicator {
    font-family: 'Poppins', sans-serif;
    font-size: 4vmin;
    font-weight: bold;
    text-align: center; 
    background-color: white;
}

.heroBox {
    height: 60%;
    text-align: center;
}

.imgAragorn {
    max-width: 100%;
    max-height: 100%;
}

.battleLog {
    font-family: 'Poppins', sans-serif;
    font-size: 4vmin;
    font-weight: bold;
    text-align: center;
    background-color: white;
    height: 40%;
    border: 2px solid blue;
}

/* media queries */
/* in the upperSection, the enemy box height needs to be halved (to 40%) because the third enemy will be below the other 2. In bigger viewports (from 'sm'on up, it can be the maximum 80% */
@media (min-width: 540px) {
    .enemyBox {
        max-height: 80%;
    }
    .statBox, .heroBox, .battleLog{
        height: 100%;
    }
}


